{% extends 'base.html' %}
{% block title %}Имараттар{% endblock %}

{% block content %}
<h1>Имараттар</h1>
<ul id="buildings-list" class="list-group"></ul>

<script>
fetch("/api/buildings/")
.then(res => res.json())
.then(data => {
    const list = document.getElementById("buildings-list");
    data.forEach(building => {
        const li = document.createElement("li");
        li.className = "list-group-item";
        li.textContent = building.name + " - " + building.address;
        list.appendChild(li);
    });
});
</script>
{% endblock %}
