<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Кардар</th>
      <th>Имарат</th>
      <th>Кызмат</th>
      <th>Status</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user.username }}</td>
      <td>{{ order.building.name }}</td>
      <td>{{ order.service.name }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.date }} {{ order.time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
